<div class = "container">
<footer class="footer">
    <small> Copyright &copy; Ruby Course </small>
<nav>
    <ul>
        <li><%= link_to "about", about_path %></li>
    </ul>
</nav>
</footer>
</div>